<!doctype html>
<html lang="en">
    <head>
        <title>Editar Datos</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        
        <main class="container">
            <div class="form-card mt-5 bg-white p-4">
                <h1 class="text-center">Editar datos</h1>
                <form action="{{ url_for('editarEstudiante') }}" method="POST">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre(s):</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ Nombre1 }} {{ Nombre2 }}" disabled>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="text" id="apellidos" name="apellidos" class="form-control" value="{{ ApellidoP }} {{ ApellidoM }}" disabled>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>

                        </div>
                      
                    </div>
                    <div class="mb-3">
                        <label for="matricula" class="form-label">Matrícula:</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="text" id="matricula" name="matricula" class="form-control" value="{{ Matricula }}" disabled>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono:</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="tel" id="telefono" name="telefono" class="form-control" value="{{ Telefono }}" disabled>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo:</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="email" id="correo" name="correo" class="form-control" value="{{ Correo }}" disabled>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </main>

        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
